.kb-search-result-list {
  flex: auto;
  overflow: scroll;
  background-color: #262626;
  padding: 5px 10px 0px 10px;
}

.kb-empty-search-result {
  flex: auto;
  padding-top: 60px;
  background-color: #262626;
  color: white;
}