@import '../../utilities/variables.scss';

.kb-chat {
  width: 300px;
  background-color: $dark-grey-9;
  border-left: 1px solid $dark-grey-10;
  display: flex;
  flex-direction: column;
  flex: none;
  color: white;
}

.kb-chat-title {
  flex: none;
  padding: 10px 15px 10px 15px;
  text-align: left;
  color: $extra-light-grey;
  border-bottom: 1px solid $dark-grey-10;
  margin-bottom: 4px;
}

.kb-chat-list-container {
  flex: auto;
  display: flex;
  flex-direction: column;
  min-height: 0px;
  overflow: scroll;
  padding-bottom: 5px;
}

.kb-chat-message-title {
  color: $primary-green;
  font-weight: bold;
}

.kb-chat-top-spacer {
  flex: auto;
}

.kb-chat-message-box {
  flex: none;
  padding: 6px;
  margin: 3px 8px 3px 8px;
  background-color: $extra-light-grey;
  color: black;
  font-size: 12px;
  text-align: left;
  border-radius: 5px;
}

.kb-menu-control-container {
  background-color: $dark-grey-8;
  border-top: solid 1px $dark-grey-10;
  flex: none;
  display: flex;
  flex-direction: row;
  padding: 10px 6px 6px 6px;
}

.kb-menu-chat-text-box {
  flex: auto;
  border: 1px solid $extra-light-grey;
  border-radius: 4px;
  padding: 3px 6px 3px 6px;
  margin: 0px 2px 0px 2px;
  outline-width: 0;
}

.kb-menu-chat-button {
  display: flex;
  flex: none;
  padding: 0px 12px 0px 6px;
  cursor: pointer;
}

.kb-menu-chat-button:hover {
  color: #b0b0b0;
}