.kb-control-panel {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: auto;
  min-height: 0;
  min-width: 0;
}

.kb-center-control {
  display: flex;
  flex-direction: column;
  flex: auto;
}





