@import '../../utilities/variables.scss';

.kb-nav-bar-button {
  display: flex;
  flex: none;
  padding: 0px 6px 0px 6px;
  cursor: pointer;
}

.kb-nav-bar-button-active {
  color: $primary-green;
}

.kb-nav-bar-button-inactive:hover {
  color: #b0b0b0;
}