@import '../../utilities/variables.scss';

.kb-menu-primary-view {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.kb-menu-primary-view-section {
  padding: 4px 0px 4px 0px;
  margin: 0px 8px 0px 8px;
  flex: none;
  border-bottom: 1px solid $dark-grey-8;
}

.kb-menu-primary-view-section-title {
  padding: 4px 0px 4px 6px;
  color: $extra-light-grey;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

.kb-menu-primary-view-section-content {
  color: $light-grey;
  text-align: left;
  padding: 5px 0px 5px 16px;
}

.kb-menu-link {
  color: $extra-light-grey !important;
  font-weight: bolder;
  // border-bottom: 1px solid $light-grey;
}

.kb-menu-link:hover {
  color: $primary-green !important;
  // border-bottom: 1px solid $primary-green;
  font-weight: bold;
}