@import '../../utilities/variables.scss';

.kb-now-playing {
  background-color: #262626;
  display: flex;
  flex-direction: row;
  flex: auto;
  align-content: center;
}

.kb-now-playing-panel {
  display: flex;
  flex-direction: column;
  background-color: $primary-green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  padding: 25px 25px 25px 25px;
}

.kb-now-playing-image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kb-now-playing-image-container {
  flex: none;
}

.kb-now-playing-info-container {
  flex: none;
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 0px;
}

.kb-now-playing-title {
  flex: none;
  color: white;
  font-weight: bold;
}

.kb-now-playing-artist-album-info {
  flex: none;
  color: white;
}

.kb-now-playing-control-container {
  padding: 15px 0px 0px 0px;
  flex: none;
  display: flex;
  flex-direction: row;
}

.kb-now-playing-button {
  padding: 0px 15px 0px 15px;
  font-size: 30px;
  color: white;
}

.kb-now-playing-button:hover {
  color: $light-grey;
}

.flex-padding {
  flex: auto;
}