@import '../../utilities/variables.scss';

.kb-menu {
  width: 300px;
  background-color: $dark-grey-9;
  border-right: 1px solid $dark-grey-10;
  display: flex;
  flex-direction: column;
  flex: none;
  color: white;
}

.kb-menu-title {
  flex: none;
  padding: 10px 0px 10px 15px;
  text-align: left;
  color: $extra-light-grey;
  border-bottom: 1px solid $dark-grey-10;
  margin-bottom: 4px;
}